<table id="result-table" class="table table-striped table-bordered margin-top"
  style="width:100%">
  <thead>
    <tr class="header-table">
      <th></th>
      <th>Nombre</th>
      <th>Grupo de investigación</th>
      <th>Rol en proyecto/Vínculo</th>
      <th>Dedicación</th>
      <th>Programa académico apoyado/Porcentaje</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let participante of listaParticipantes">
      <tr class="table-hover">
        <td>
          <a >
          </a>
        </td>
        <td>
        </td>
        <td>{{participante.grupoInvestigacion? participante.grupoInvestigacion.nombreCorto: ''}}</td>
        <td>
        </td>
        <td>{{participante.dedicacionHoras}}h - {{participante.dedicacionMeses}}m
          <span *ngIf="participante.dedicacionHorasPlan">/ P.T.:{{participante.dedicacionHorasPlan}}h - {{participante.dedicacionMesesPlan}}m</span></td>
        <td>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
  </tfoot>
</table>
